<div class="container text-center col-sm-4">
    <h1 class="mb-4">Log in</h1>

    <%= bootstrap_form_tag url: '/sessions' do |f| %>
        <%= f.text_field :email_user_nick, label: 'Nickname or email' %>
        <%= f.password_field :password %>
        <%= f.submit "Log in", class: "btn btn-primary mb-3 mt-3" %>
    <% end %>
    
    <%= link_to 'Home', root_path %>
</div>