<div class="container text-center col-sm-4">
    <h1 class="mb-4">Sign up</h1>

    <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :user_nick %>
        <%= f.email_field :email %>
        <%= f.text_field :image %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign In", class: "mt-3 btn btn-primary mb-3"%>
    <% end %>
    
    <%= link_to 'Home', root_path %>
</div>