<div class="container">
    <div class="block is-1 text-center">
        <h1 class="title is-size-1 center">Create a new post</h1>
    </div>
</div>


<div class="container text-center col-sm-8 mt-3">
    <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_field :description, label: 'Description'%>
        <%= f.text_area :content, :rows => "10", label: 'Body' %>
        <%= f.text_field :image %>
        <%= f.select :category_id, Category.all.collect { |p| [p.name, p.id] } %>
        <%= f.submit "Create new post", class: "btn btn-primary mb-3 mt-3" %>
    <% end %>
    
    <%= link_to 'Home', root_path %>
</div>
