/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 @import "bootstrap_form_for";
 */

@import "bootstrap";

.center {
    justify-content: center;
    align-items: center;
}

.header {
    padding: 20px;
    margin: 0px;
}

.color-dark-clean-blue {
    background-color: #262626;
}

.margin-top-standard {
    margin-top: 1em;
}

.margin-sides-standard {
    margin-left: 10%;
    margin-right: 10%;
}

.font-color-light {
    color: #D4F5F5;
}

.footer-navbar {
  position: relative;
  bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 20px;
}